* {box-sizing: border-box;}

body {
  margin: 0 auto; /* 중앙정렬 */
  color: #3f464d;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}

/* initialize link css */
a {all: unset;}
a:link {text-decoration: none;color: #3f464d;}
a:visited {text-decoration: none;color: #3f464d;}
a:active {text-decoration: none;color: #3f464d;}

a:hover {
  text-decoration: none;
  color: #2186c4;
  cursor: pointer;
}

header {display: none;}

ul,li {margin:0; padding:0;}
hr {margin:0;padding:0;}

section .main-section {
  display: inline;
}

section .top-header-section {
  display: none;
}

section .nav-bar-section {
  display: block;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f8f7f7;
}

section .main-content-section {
  width: 75%;
  height: 100%;
  top: 0;
  left: 25%;
  position: fixed;
}

footer {
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 25%;
  background-color: rgb(219, 219, 219);
}

section .top-header-section {display: none;}

section .nav-bar-section {
  padding: 1rem 1rem; 
}

.nav-bar-title {
  padding: 1rem 0rem; 
  margin: auto 0;
}

.nav-bar-title-img {
  display: inline;
  margin: auto 0;
}

.nav-bar-title-text {
  display: inline;
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto 0;
  padding: 0 0 0 1rem;

}

.nav-bar-items {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-bar-item {
  list-style:none;
  flex-direction:column;
}

.nav-bar-item-link {
  display:flex;
  padding:.5rem 1rem;
  color:#0d6efd;
  text-decoration:none;
  transition:color 
}

.nav-bar-item-img {
  width: 32px;
  height: 32px;
}

.nav-bar-item-text1 {
  padding: 0 0 0 1rem;
  margin: auto 0;
}
.nav-bar-item-text2 {
  display: none;
}

/*
@media only screen and (min-width: 1200px) {
  section .nav-bar-section {
    width: 240px;
  }
  .nav-bar-container {
    max-width: 1200px;
  }
}
*/

@media screen and (max-width: 700px){
  footer {display: none;}

  section .top-header-section {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    position: fixed;
    margin: auto auto;
    background-color: #f8f7f7;
  }
 
  section .main-content-section {
    display: block;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    margin: 0 auto;
    position: fixed;
  }
  
  section .nav-bar-section {
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: block;
    position: fixed;
    z-index: 1000;
    margin: 0 auto;
    padding:.5rem 1rem;
  }

  .top-header-title {
    
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto 0;
    align-items: center;
    align-content: center;
  }

  ul .nav-bar-item  {
    all: unset;
  }

  .nav-bar-title {display: none;}
  .nav-bar-item-link {display: block;justify-content: space-between;}
  .nav-bar-items {font-size: 1.2rem;justify-content: space-between;}
  .nav-bar-item {display: inline-flex;flex-direction: row;justify-content: space-between;}
  .nav-bar-item-img {width: 50px;height: 50px;}
  .nav-bar-item-text1 {display: none;}
  .nav-bar-item-text2 {display: block;}
}


/* for phone */
@media only screen and (max-width: 460px) {

  ul .nav-bar-item  {
    all: unset;
  }
  .nav-bar-items {
    margin: 0px;
  }
  
  .nav-bar-item-img {
    width: 30px;
    height: 30px;
  }

   .nav-bar-item-text2 {
    display: block;
    align-items: center;
    font-size: 0.8rem;
  }
}

