

.post-content > ul {
	margin: 0;
	padding-inline-start: 0;
}

.post-content > .post-list-item {
	display: inline;
}

.post-content > .tag-content {
	margin-top: 1em;
	border-top: 1px solid #cfcfcf;
}

.post-content > .tag-content > .tag-content-tag {
	margin: 5px;
	margin-bottom: 20px;
	font-size: 0.8em;
}

.post-content > .content-tag-list {
	margin-bottom: 10px;
}

.tag-wrapper .tag-box {
	font-size: 0.9em;
}

.tag-box {
	display: inline;
}

.tag {
	background-color: #17406b;
	border-radius: 6px;
	margin: 2px;
	align-items: center;
	box-shadow: 2px 2px 2px rgb(94, 94, 94);
	opacity: 70%;
	padding: 3px 10px;
	text-align: center;
	color: #fff
}

.tag-wrapper .tag:hover {
	cursor:pointer;
	opacity: 100%;
}

.selected {
	opacity: 100%;
}

.post-link {
	margin-left: 10px;
	color: #444444;
}



.post-title {
	width: 100%;
	height: 100%;
	font-size: 1.5em;
	
	color: #111;
	font-weight: bold;
	vertical-align: middle;
	align-items: center;
	font-weight: bolder !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.post-content {
	top: 150px;
}

.post-list {
	list-style:none;
}

.post-list .post-card {
	border-bottom: 1px solid #cfcfcf;
	
	transform:scale(1.0);        
	transition-duration: 0.5s;
}

.post-list .post-card:hover {
	transform:scale(1.05);
}

.post-card .post-head {
	align-items: center;
}

.post-card .post-head-img {	
	vertical-align: middle;
	margin: 0 10px 0 0;
}

.post-card .post-head-img img {
	width: 35px;
	height: 35px;
	max-width: 35px;
	max-height: 35px;
	align-items: center;
	vertical-align: middle;
}

.post-card .post-head-img i {
	font-size: 35px;
	color: #051628;
	max-width: 35px;
	max-height: 35px;
	align-items: center;
	vertical-align: middle;
}

.post-card .post-head-title {
	width: 100%;
	height: 100%;
	font-size: 1.2em;
	align-items: center;
	font-weight: bold;
	vertical-align: middle;
}

.post-card .post-description {
	width: 100%;
	font-size: 0.9em;
	margin: 5px;
	text-align: left;
}

.post-card .post-footer {
	display: inline-flex;
	width: 100%;
	font-size: 0.6em;
	margin-bottom: 0.7em;
}

.post-card .post-footer-tag-wrapper {
	left: 0;
	width: 70%;
	text-align: left;
}
.post-card .post-footer-date {
	right: 0;
	width: 30%;
	text-align: right;
}

.post-date {
	text-transform: uppercase;
	color: #555;
	display: inline-block;
	width: 80px;
}

header.search-header {
	display: flex;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #fdfdfd;

	width: 100%;
	height: 60px;
	top: 0;
	left : 30%;
	padding: 0px 10px;
	max-width: 945px;

	vertical-align: bottom;
}

.search-bar {
	line-height: 80px;
	height: 60px;
	width: 100%;
	border-bottom: 2px solid #bebebe;
	vertical-align: bottom;
	text-align: left;
	z-index: 1000;
}

.search-bar:hover {
	transition-duration: 1s;
	border-bottom: 2px solid #051628;
}

.search-bar > #search {
	border: unset;
	font-size: 1em;
	height: 35px;
	width: 80%;
	font-family: "SBAggroL";
	outline: none; /* input 창에 포커스 갔을때 아웃라인 생기는거 제거 */
	-webkit-tap-highlight-color: transparent; /* ios outline color */
}

.search-bar > .search-img-box {
	display: inline;
	padding: 5px;
	height: 50px;
	width: 50px;
}

.search-bar > .fa-search {
	font-size: 40px;
	align-items: left;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

.hidden {
	display: none;
}

@media (max-width: 600px) {
	.tag-wrapper .tag-box .tag {
		font-size: 0.9em;
	}

	.post-card .post-head-img img {
		width: 24px;
		height: 24px;
		max-width: 24px;
		max-height: 24px;
		align-items: center;
		vertical-align: middle;
	}

	.post-card .post-head-img i {
		font-size: 24px;
		max-width: 24px;
		max-height: 24px;
		align-items: center;
		vertical-align: middle;
	}

	.post-card .post-head-title {
		font-size: 1.1em;
	}

	.post-card .post-description {
		font-size: 0.85em;
	}

	.post-card .post-footer .tag {
		padding: 2px 7px;
		font-size: 0.55em;
	}

	.search-bar > .search-img-box {
		padding: 1px;
		height: 30px;
		width: 30px;
	}
	
	.search-bar > .fa-search {
		font-size: 24px;
	}
}
