<article class="post">
  <header class="post-header home">
    <div class="post-title">{{ site.title }}</div>
  </header>
<p>
  <H1> 코딩독학</H1>
  비전공자로 2014년 부터 데이터 분산관리 개발자로 재직중.<br>
  스스로 까먹지 않기 위하여 개발한 과정과, 공부한 내용들을 정리할 것.<br>
  나같은 비전공자를 기준으로 기록할 예정.<br>
  <br>
</p>
<p>
  <H1><i class="fas fa-code"></i> 개발 일기</H1>
  실제로 설계/개발 하는 과정을 순차적으로 쓸 예정. <br>
  1. 프론트 엔드 개발기 : GitHub 블로그를 제작 과정.<br>
  2. 풀스택 개발기 : 직접 웹 호스팅과 Docker, 프론트/백 엔드를 이용하여 나만의 사이트 제작 과정.<br>
  3. Discord 봇 개발기 : 봇 제작이 자유로운 Discord 메신저에 나만의 봇을 제작 과정.<br>
  <br>
</p>

<p>
  <H1><i class="fas fa-bug"></i> 문제 해결</H1>
  위의 개발일기 과정에서 실제로 발생한 문제와, 이를 해결하는 과정을 쓸 예정.<br>
  본업에서 인상 깊었던 버그와 이를 처리한 과정 역시 남길 예정.<br>
  <br>
</p>

<p>
  <H1><i class="fas fa-book-reader"></i> 개발 지식</H1>
  개발을 하면서 필요한 지식과, 내가 독학하면서 정리한 지식들 등을 다룰 예정이다.<br>
  주로 공부한 책을 정리할 예정이고, 개발에 꼭 중요하다 생각하는 내용들을 정리할 것이다. <br>
  <br>
</p>
<p>
  느리더라도 멈추지 않고 꾸준히 계속 할 예정이다.  
  <br>
</p>
<p>
  <br>
  혹시 공부하다 지치면 아래 <i class="fas fa-guitar"></i> 음악을 
  들어보는 것도 추천한다. <br>
  바뻐서 자주 업로드 못하지만, 종종 업로드 할 예정. <br>
  - <a href="https://www.youtube.com/watch?v=PF80vemES_8">[DancingFingers]</a>
</p>
<p>
  <img class="home-img" src="/assets/img/infos/kobuki-col-small.png" style="float: right" width="50%" height="auto" >
  <div style="clear:both;"></div>
</p>
</article>

