<script async src="/public/js/lazysizes.min.js"></script>
<script defer src="/public/js/tooltip.js"></script>
<link href="/public/css/syntax/github.css" rel="stylesheet"> 

<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>	
	</header>

	<div class="post-content">
		{{ content }}
		<div class="tag-content">
			{% if page.tags %}
				{% for tag in page.tags %}
					{% if site.data.tags | downcase contains tag | downcase %}
					<span class="tag-content-tag">#{{ tag }}</span>
					{% endif %}	
				{% endfor %}
			{% endif %}	
		</div>
		<p>
			<img class="home-img" src="/assets/img/infos/kobuki-col-small.png" style="float: right" width="15%" height="auto" >
			<div style="clear:both;"></div>
		</p>
	</div>

	<div class="post-comment">
	<script src="https://utteranc.es/client.js"
        repo="martinkang/martinkang.github.io"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
	</script>
	</div>
	
	<link href="/public/css/tooltip.css" rel="stylesheet"> 
</article>
