<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>	
	</header>

	<div class="post-content">
		{{ content }}
		<div class="tag-content">
			{% if page.tags %}
				{% for tag in page.tags %}
					{% if site.data.tags | downcase contains tag | downcase %}
					<span class="tag-content-tag">#{{ tag }}</span>
					{% endif %}	
				{% endfor %}
			{% endif %}	
		</div>
	</div>

	<br>
	<br>

	<div class="post-comment">
	<script src="https://utteranc.es/client.js"
        repo="martinkang/martinkang.github.io"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
	</script>
	</div>
</article>