<article class="post search">
	<header class="search-header">
		<div class="post-title search-bar"> 
			<div class="search-img-box">
				<i class="{{site.data.img-tags['search']}}" aria-hidden="true"></i>
			</div>
			<input id="search" type="text" placeholder="Search..." />
		</div>		
	</header>
	
	<div class="post-content search-content">
		<ul class="post-list search-result-list">
		<div id="search-result"></div>
		</ul>
	</div>
</article>

<script src="/public/js/jquery-3.4.1.min.js"></script>
<script src="/public/js/search.js"></script>
