<article class="post search">
	<header class="post-header search-header">
		<div class="post-title search-title"> 
			<div id="search-bar">
					<div class="row">
					  <div class="col-12">
						<div id="search-bar">
						  <i class="{{site.data.img-tags['search']}}" aria-hidden="true"></i>
						  <input id="search" type="text" placeholder="Search..." />
						  
						</div>
					  </div>
					</div>
			  </div>
			</div>		
	</header>
	
	<div class="post-content search-content">
		<ul class="post-list search-result-list">
		<div id="search-result"></div>
		</ul>
	</div>

<script src="/public/js/jquery-3.4.1.min.js"></script>
<script src="/public/js/search.js"></script>