<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="/about/"><img src="\assets\img\infos\open-graph.jpg" ></a>
	</div>
	<p class="lead">{{ site.description }}</p>
	{%- if social.github -%}
		<a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">
			<svg class="svg-icon grey">
				<use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}" />
			</svg></a></li>
	{%- endif -%}
</div>

<!-- <div class="sidebar-item sidebar-nav">
	<ul class="nav">
      <li class="nav-title">Pages</li>
	  <li>
	  	<a class="nav-item" href="/">Articles</a>
	  </li>
	  {% assign pages_list = site.pages %}
	  {% for node in pages_list %}
	    {% if node.title != null %}
	      {% if node.layout == "page" %}
	        <li>
	        	<a class="nav-item" href="{{ node.url }}">
	            	{{ node.title }}
	            </a>
	        </li>
	      {% endif %}
	    {% endif %}
	  {% endfor %}
	</ul>
</div> -->

<div class="sidebar-item sidebar-nav">
  	<ul class="nav">
		<li class="nav-title">카테고리</li>
		<li>
			<a class="nav-item" href="{{ root_url }}/">
				<span class="nav-img"><img src="\assets\img\infos\HomeImg.png" ></span>
				<span class="name">홈으로</span>
			</a>
		</li>
		<li>
			<a class="nav-item" href="{{ root_url }}/{{ site.category_dir }}#develop">
				<span class="nav-img"><img src="\assets\img\infos\Develop.png" ></span>
				<span class="name">개발 일기</span>
			</a>
		</li>
		<li>
			<a class="nav-item" href="{{ root_url }}/{{ site.category_dir }}#bugs">
				<span class="nav-img"><img src="\assets\img\infos\Bugs.png" ></span>
				<span class="name">문제 해결</span>
			</a>
		</li>
		<li>
			<a class="nav-item" href="{{ root_url }}/{{ site.category_dir }}#study">
				<span class="nav-img"><img src="\assets\img\infos\Study.png" ></span>
				<span class="name">개발 지식</span>
			</a>
		</li>
		<li>
			<a class="nav-item" href="{{ root_url }}/{{ site.category_dir }}#links">
				<span class="nav-img"><img src="\assets\img\infos\Links.png" ></span>
				<span class="name">개발 링크</span>
			</a>
		</li>
	  </nav>
	</ul>
</div>


<div class="sidebar-counter">
	<a href="https://hits.seeyoufarm.com">
		<img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2Fmartinkang%2Fmartinkang.github.io&count_bg=%231D256A&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
	</a>
</div>

<script>
$("[data-tag]").click((e) => {
	currentTag = e.target.dataset.tag;
	filterByTagName(currentTag);
})

function filterByTagName(tagName) {
	$('.hidden').removeClass('hidden');
	$('.selected').removeClass('selected');
	if ( tagName != "all") {
		$('.post-wrapper').each((index, elem) => {
			
			if (!elem.hasAttribute(`data-${tagName}`)) {
			$(elem).addClass('hidden');
			}
		});
		$(`.tag`).removeClass('selected');
		$(`.tag[data-tag=${tagName}]`).addClass('selected');
	}
}
</script>

<!-- <div class="sidebar-item sidebar-footer">
	<p>Powered by <a href="https://github.com/jekyll/jekyll">Jekyll</a></p>
</div> -->